.sidenav-trigger{
	display: none;
}

.item {
	border: solid 1px rgb(0, 0, 0);
	margin-top: 30px;
	border-radius: 2px;
	background-color: #e9e9e9;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.p-item {
	/* font-size: 0.8em; */
}

.p-item-descr {
	white-space: normal;
	margin-top: 12px;
}

.latestadd {
	height: 100%;
}

.btn-to-news {
	margin-bottom: 7px;
	margin-top: 7px;
	float: right;
}

.main-block {
}

.pagination li.active {
	background-color:  #26a69a;
}

.collection{
	margin-top: 0;
}

.collection .collection-item.avatar{
	min-height:  0;
}

.collection-noborder{
	border-top: 0;
	border-left: 0;
}

.collection-item:hover{
	background-color: #eee;
}

.items-group .card{
	padding-left: 0;
	padding-right: 0;
}

.datepicker-date-display{
	/* background-color: #4caf50 !important; */
}

.hoverable{
	cursor: pointer;
}

@media (max-width:992px) {

	.latestadd {
		border: 0;
	}
	.p-item-descr{
		padding-left: 10px;
	}
	.main-block {
		border-right: 0;
	}

	.sidenav-trigger {
		display: block;
	}

}

.bottom-sheet{
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
	max-height: 90% !important;
}

.modal-left{
	float: left;
	margin: 15px 10px 0 20px;
}

.modal-right{
	float: right;
	margin: 15px 20px 0 10px;
}

.modal-size{ /* TODO Rename */
	font-size: 30px !important;
}

.search-settings-button{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

@media screen and (min-width: 413px) {

	.modal.bottom-sheet{
		left: calc(50% - 200px);
	}

	.collection:last-child{
		border-bottom: 0;
	}

}

@media screen and (max-width: 412px) {
	.collection-noborder{
		border-right: none;
	}
}

.modal.bottom-sheet{
	max-width: 411px;
	z-index: 4;
}

.open-settings-query-button{
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 !important;
	width: 100% !important;
}

.modal-content{
	height: calc(90% - 15px - 30px)
}

.no-bottom-margin{
	margin-bottom: 0 !important;
}